// Import theme
@import "catppuccin-mocha.scss";

// Variables
$bg: $base;
$accent: $sapphire;
$fg: $accent;

$primary-bg: $surface0;
$primary-fg: $sky;

$error-bg: $red;
$error-fg: $crust;

$padding: 7pt;
$spacing: 12pt;
$radius: 8px;
$transition: 200ms;

$shadows: false;

$widget-opacity: 94;
$widget-bg: transparentize($bg, $widget-opacity / 100);

$hover-bg: transparentize($bg, ($widget-opacity * 0.9) / 100);
$hover-fg: lighten($fg, 8%);

$border-width: 1px;
$border-opacity: 96;
$border-color: transparentize($accent, $border-opacity / 100);
$border: $border-width solid $border-color;

$inactive-gradient: linear-gradient(to right, $bg, darken($bg, 4%));
$active-gradient: linear-gradient(to right, $bg, darken($bg, 4%));
$shadow-color: rgba(0, 0, 0, 0.6);
$text-shadow: 2pt 2pt 2pt $shadow-color;

$popover-border-color: $accent;
$popover-padding: $padding * 1;
$popover-radius: $radius;

$font-size: 13pt;

$charging-bg: $green;
$bar-battery-blocks: 7;

// global css
* {
  font-family: "Noto Sans";
}

// import mixins
@import "mixins/a11y-button.scss";
@import "mixins/button.scss";
@import "mixins/floating-widget.scss";
@import "mixins/media.scss";
@import "mixins/scrollable.scss";
@import "mixins/slider.scss";
@import "mixins/spacing.scss";
@import "mixins/switch.scss";
@import "mixins/unset.scss";
@import "mixins/widget.scss";

// Impoert widgets
@import "widgets/powerctrl.scss";
@import "widgets/quicksettings.scss";
@import "widgets/bar.scss";
@import "widgets/datemenu.scss";
